body
{
margin:0;
padding:0;
background:#f9f9f9;
}
.a1{
background:white;
margin-right:30px;
margin-left:30px;
border-left:2px solid black;
border-right:2px solid black;
}
.logo{
margin-left:3%;
padding:30px;
padding-left:0;
}
.menu{
margin-left:3%;
margin-right:3%;
height:35px;
background:url(../img/menu.jpg);
}
.knopki{
display: inline-block;
background:0;
height:20px;
border:0;
width:12%;
height:35px;
margin-right:20px;
color:white;
text-shadow: 1px 1px 2px black, 0 0 1em black;
font-size:15px;
text-align:center;
vertical-align: middle;
}
.knopki:hover{
text-align:center;
display: inline-block;
background:url(../img/ds.jpg);
height:30px;
text-shadow: 1px 1px 2px black, 0 0 1em black;
border:0;
border-left:1px solid #838383;
border-right:1px solid #838383;
vertical-align: middle;
}

.container{
margin:3%;
}
.left_menu{
float:left;
width:20%;
}
.list{
background:0;
text-align:left;
width:100%;
height:34px;
color:#656363;
border:1px solid #636363;
border-bottom:0;
padding-left:23px;
}
.list:hover{
background:#f9f9f9;
color:black;
padding-left:36px;
font-weight: 500;
}
.list_last{
background:0;
width:100%;
height:34px;
text-align:left;
color:#656363;
border:1px solid #636363;
padding-left:23px;
}
.list_last:hover{
background:#f9f9f9;
color:black;
padding-left:36px;
font-weight: 500;
}
.content{
margin-right:5%;
margin-left:33%;
}
.image{
border:1px solid #c8c8c8;
}
.describe{
color:#2c2c2c;
margin-top:40px;
}

.footer{
margin:3%;
margin-top:60px;
margin-bottom:0;
}
.panel{
height:35px;
background:url(../img/sd.jpg);
}
.links{
display: inline-block;
background:0;
height:35px;
border:0;
width:7%;
height:35px;
margin-right:35px;
margin-left:5px;
color:#2c2c2c;
text-align:center;
vertical-align: middle;
font-size:14px;
}
.links:hover{
text-align:center;
width:7%;
display: inline-block;
text-decoration: underline;
height:35px;
border:0;
vertical-align: middle;
}

.copyright{
padding:0;
margin:9px;
display: inline-block;
float:right;
background:0;
height:20px;
border:0;
height:35px;
margin-right:35px;
margin-left:0px;
text-align:center;
vertical-align: middle;
font-size:14px;
font-weight:600;
}
